---
import Layout from "../../layouts/Layout.astro";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes, Asset } from "contentful";
---

<Layout>
  <div class="core-width outline">
    <div class="hero padded bg">

      <h1 class="h1 spicy text-high">about me</h1>
      <br>

      <div class="text-mid text-max text-high mono">
            i'm a designer who loves making things, from concept sketches to finished products. over the years, i've done all sorts of work, like building a/b tests, optimising platforms, and creating user journeys that actually help people. lately, i've been really deep into data visualisation.
        <br>
            outside of that, i just follow my curiosity. sometimes i'm building a random website for a fun idea, and other times i'm writing custom ttrpg adventures or crafting game props. for me, it's all part of the same thing, trying to make cool and useful stuff.
      </div>
      
      <div class="mono">
      </div>
    </div>
  </div>
  <div class="outline">
    <div class="core-width outline h-2rem"></div>
  </div>

  <div class="outline">
    <div class="core-width outline">
      <div class="padded bg">
  
        <h1 class="h1 spicy text-high">work experience</h1>
      
      </div>
    </div>
  </div>
  <div class="outline">
    <div class="core-width outline bg entry">
      <div class="entry-intro  padded outline">
        <h6 class="highlight-red h6"> Lead UX/UI designer</h6>  
        <div style="display:none;" class="tag">Apr 2019 - Present </div>   
        <div class="text-low mono">
          
          Apr 2019 - Present           
        </div>
        <div class="company-logo">
          <svg aria-label="Collidr Technologies" viewBox="0 0 108 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.28195 21.1285C4.81255 18.0312 6.55833 16.4951 9.59487 16.5618C10.4293 16.5662 11.2511 16.7677 11.995 17.1504C12.7373 17.5317 13.3792 18.0841 13.8699 18.7617L16.9972 15.9691C16.1005 14.8681 14.9993 13.9558 13.7559 13.2836C12.4111 12.6084 10.9296 12.2592 9.42854 12.2637C6.99722 12.2179 4.64316 13.1287 2.86197 14.8045C1.27565 16.2126 0.325786 18.3359 0 21.1438L4.28195 21.1285ZM9.58799 29.6747C6.55008 29.7359 4.8208 28.2207 4.2737 25.1623H0C0.334033 27.9243 1.28252 30.01 2.86197 31.3862C4.65255 33.0468 7.0002 33.9556 9.42854 33.9283C10.9359 33.9342 12.4217 33.5658 13.7559 32.8555C14.9839 32.1981 16.0844 31.3213 17.0041 30.2675L13.8699 27.4762C13.3855 28.164 12.7435 28.7226 11.9991 29.1042C11.2522 29.4874 10.4253 29.6831 9.58799 29.6747ZM55.7107 4H51.4673V21.1285H55.7121L55.7107 4ZM55.719 28.2276V25.1846H51.4673V28.5783C51.4673 30.4344 51.9965 31.7591 53.0549 32.5494C54.1546 33.3509 55.4908 33.7572 56.8489 33.7071H58.7404V29.6733H57.275C56.2427 29.6733 55.719 29.1947 55.719 28.2276ZM98.0106 21.1285V20.9616C97.9698 20.3915 98.0465 19.8191 98.2359 19.2806C98.4252 18.7422 98.7231 18.2495 99.1107 17.8338C99.4982 17.4181 99.9669 17.0885 100.487 16.866C101.007 16.6434 101.567 16.5327 102.132 16.541C103.149 16.5642 104.129 16.9372 104.91 17.5985L108 13.9153C106.559 12.7258 104.716 12.1532 102.864 12.3195C101.012 12.4859 99.2976 13.3781 98.0862 14.8059H98.0106V12.5211H93.7589V21.1271L98.0106 21.1285ZM98.0024 25.1623H93.7589V33.6848H98.0024V25.1623ZM76.4964 21.1285C76.4964 20.9685 76.4964 20.8015 76.5349 20.6346C76.6089 19.9217 76.78 19.2225 77.0435 18.5572C77.3005 17.9268 77.7487 17.3939 78.326 17.0349C79.025 16.6575 79.8128 16.4814 80.6038 16.5257C81.4365 16.4812 82.2635 16.6875 82.9805 17.1184C83.5386 17.476 83.962 18.0131 84.1792 18.6406C84.4582 19.303 84.6424 20.0042 84.7263 20.7181V21.091H89.022V4H84.7785V14.8059C84.0353 14.0959 83.2095 13.48 82.3193 12.972C81.3716 12.5147 80.3324 12.2852 79.2828 12.3013C76.7122 12.3736 74.829 13.2962 73.6358 15.0716C73.0121 15.8188 72.609 16.7288 72.4729 17.6973C72.2769 18.8357 72.173 19.9883 72.1622 21.1438L76.4964 21.1285ZM84.751 25.1623C84.7551 25.2346 84.7551 25.3084 84.751 25.3821C84.6739 26.1157 84.4895 26.8337 84.2039 27.5124C83.9841 28.1414 83.562 28.6775 83.0052 29.0346C82.2916 29.4751 81.4633 29.6875 80.6285 29.6441C79.83 29.6938 79.0355 29.4947 78.3521 29.0736C77.7895 28.7005 77.3441 28.1723 77.0682 27.5514C76.7993 26.8613 76.628 26.1361 76.5596 25.3974V25.1164H72.2488C72.2653 26.2253 72.3684 27.3329 72.5595 28.4266C72.6853 29.4228 73.0881 30.3623 73.721 31.1357C74.3623 31.9551 75.1731 32.6223 76.0964 33.0907C77.1095 33.6083 78.2325 33.8699 79.3694 33.8518C80.4022 33.8598 81.4248 33.6444 82.3688 33.2201C83.3105 32.7968 84.1515 32.1738 84.8348 31.3931V33.6083H89.0247V25.1623H84.751ZM66.5579 4H62.3144V8.25361H66.5579V4ZM66.5579 25.1623H62.3144V33.6848H66.5579V25.1623ZM66.5579 12.5531H62.3144V21.1285H66.5579V12.5531ZM44.9942 4H40.7507V21.1285H44.9942V4ZM44.9942 28.2276V25.1846H40.7507V28.5783C40.7507 30.4344 41.2758 31.7591 42.3288 32.5494C43.4285 33.3509 44.766 33.7572 46.1241 33.7071H48.0293V29.6733H46.5722C45.5179 29.6733 44.9942 29.1947 44.9942 28.2276ZM23.2201 21.1271C23.2449 20.6958 23.3067 20.2644 23.403 19.8415C23.5377 19.2139 23.7947 18.6184 24.1617 18.091C24.5383 17.6058 25.025 17.2197 25.5804 16.9654C26.2072 16.6801 26.889 16.534 27.5777 16.5396C28.276 16.5263 28.9684 16.6718 29.6039 16.9654C30.1647 17.1977 30.6445 17.5901 30.9854 18.0924C31.4074 18.5947 31.6933 19.1972 31.8211 19.8415C31.8954 20.2672 31.9435 20.6972 31.9655 21.1271H36.2158C36.174 20.061 36.0215 19.0024 35.7608 17.9686C35.4326 16.8416 34.8145 15.8231 33.9697 15.0174C33.3202 14.2307 32.5195 13.586 31.6163 13.1222C30.349 12.5407 28.9688 12.2549 27.5777 12.286C26.2112 12.2582 24.8563 12.5441 23.6146 13.1222C22.686 13.5839 21.8575 14.2282 21.1774 15.0174C20.3715 15.8468 19.773 16.8591 19.4317 17.97C19.1448 18.9995 18.9791 20.0597 18.9382 21.1285L23.2201 21.1271ZM31.9888 25.1623C31.9676 25.5502 31.9221 25.9364 31.8528 26.3186C31.726 26.9873 31.4396 27.6145 31.0184 28.1455C30.6472 28.6186 30.1757 28.9999 29.6355 29.2642C29.0042 29.5725 28.3101 29.726 27.6093 29.7123C26.9192 29.7164 26.2347 29.5634 25.6133 29.2642C25.0816 28.9901 24.6011 28.6242 24.1934 28.1831C23.827 27.6295 23.5694 27.0097 23.4346 26.3575C23.3495 25.9763 23.2912 25.5894 23.26 25.1999H19.0083C19.0536 26.2295 19.2172 27.2508 19.4949 28.2443C19.8215 29.301 20.3622 30.277 21.0825 31.1103C21.8027 31.9436 22.6866 32.6157 23.6779 33.0837C24.9013 33.7182 26.2622 34.0313 27.6395 33.9965C29.0398 34.0372 30.428 33.7234 31.6782 33.0837C32.1785 32.8736 32.639 32.5772 33.0377 32.2085C33.4033 31.9413 33.736 31.6324 34.0315 31.2874C34.8681 30.4387 35.4836 29.393 35.8227 28.2443C36.078 27.2484 36.2283 26.2279 36.2708 25.1999L31.9888 25.1623Z" fill="black"/>
            </svg>
        </div>

                
                
      </div> 
      <div class="entry-main  padded  outline">
        Crafting a robust financial analytics platform from scratch, with a focus on user-friendly interfaces and impactful data visualization. Also, handling a spectrum of design-related responsibilities to ensure a seamless and engaging user experience.
        
        <div>
          <br>
          <span class="tag tag-figma"></span>
          <span class="tag tag-sketch"></span>
          <span class="tag tag-design-systems"></span>
          <span class="tag tag-user-flows"></span>
          <span class="tag tag-user-research"></span>
          <span class="tag tag-team-leadership"></span>
          <span class="tag tag-stakeholder-management"></span>
          <span class="tag tag-data-visualization"></span>
          <span class="tag tag-branding"></span>
        </div>
      </div>
    </div>

  </div>

  <div class="outline">
    <div class="core-width outline bg entry">
      <div class="entry-intro  padded outline">
        <h6 class="highlight-red h6">UX/UI designer</h6>
        <div class="text-low mono">
          Jan 2018 - Apr 2019           
        </div>
        <div class="company-logo">
          <svg xmlns="http://www.w3.org/2000/svg"  aria-lable="getting personal" xml:space="preserve" style="enable-background:new 0 0 387.27 94.7" viewBox="0 0 387.27 94.7">
            <path d="M268.76 45.2c-1.7 2.4-3.7 4.8-3.4 9.1.3 5.6 4.4 9.4 6 13.6 1.2-2 5.6-7.5 8.6-11.2s7.1-9 11.5-11.7c.5-.3 1.2-1.1 1.9-.4.1.8-.8 1.2-1.4 1.6-.6.5-1.2.8-1.8 1.2-3.5 2.6-5.4 5.7-8.1 9.1-3.4 4.3-6.1 8.1-9.8 13.4 1.4 3.2 2.6 7.6 1 11.1-1.1 2.6-4.3 5.6-7.9 5.6-.8 0-1.8-.3-2.4-.7-.3-.2-.6-.5-.8-.8-.2-.4-.5-.8-.6-1.4-.1-3.6 1.6-5.9 3.2-8.1 1.3-1.9 2.9-3.5 4.2-5.1-1.2-2.6-3-5.1-4.5-7.8-1.5-2.6-3-5.6-3-9.3 0-4.4 2-7.6 4.1-10.4.9-1.1 2.3-2.4 3.8-3.5 1.8-1.2 5.1-3.3 6.9-1.5 1.1 1 .5 4.2-.4 4.2-.9.1-.6-1.6-1-2.2-2.5 1.3-4.4 3.3-6.1 5.2m-4.6 35.3c-.7 1.5-1.5 4.4 1.5 3.9 2.5-.8 5-2.6 5.3-5.8.3-2.3-.5-4-1.1-5.8 0 0-.1-.1-.1 0-1.4 1.6-2.8 3.2-4 5.1-.5.4-1 1.4-1.6 2.6"/><path d="M292.96 45.7c2.7 3.3 4.6 11.9.9 15.4-1.2 1-2.7 2-4.5 2-3 0-4.8-2.3-5.1-5.1-.3-4 1.5-7.3 2.9-10-.7-2.3-.2-4.6 2-4.8.7 0 1.1.5 1.5.5.6 0 1.1-.5 1.5-.5 1.3 0 2.4 1.2 2 2.4-.3.3-.8.3-1.2.1-.1-.1-.1.1 0 0m-5.3 10c-.2 1.8 0 3.7 1.1 4.2s2.4-.1 3.3-.7c2.9-2.9 1.3-10-.9-12.4 0 0 0-.1-.1 0 0 0-.1.1-.1.2-1.2 2.1-3.1 5.3-3.3 8.7M304.46 56.1c0 .2.1.1 0 0 .9-2 1.7-4.1 2.6-5.9.9-1.4 1.7-4.5 3.8-4.8 1.1-.1 1.9.7 2.4 1.4.8 1.9 1.1 4.3 1.7 6.7.5 2.3.8 4.7 2.8 5.6 2.1-.2 3.6-1.4 5-2.4 1.5-1.1 2.8-2.3 4.1-3.5 1.4-1.1 2.7-2.4 4-3.7.6-.5 1.2-1.1 2-1.7.7-.5 1.6-1.6 2.4-.8.1 1-.9 1.6-1.6 2.2-2.1 1.9-4 4-6.1 5.7-1.3 1.1-2.7 2.4-4.3 3.6-1.8 1.4-4.1 3.2-6.8 2.3-4-2.3-3.2-9.1-5.4-13.3-1.9 2-2.9 4.7-4 7.6-.4.9-1 2.7-1.5 4.2-.5 1.3-.8 3.5-2.3 3.6-2.1.1-2.1-3.5-2-5.8.1-4.3.7-7.7 1.3-11.3.4-1.7.8-4 2.4-3.9 1.1.1 1.5 2.4 1.6 3.2-.2.5-.8.3-1.1.3-.3 3.5-.8 6.9-1 10.7z"/><path d="M366.26 46.7c-1.1 1.2-2.2 2.6-3.3 4-1.3 1.9-2.6 3.8-4 5.6-1.2 1.8-2.6 3.7-4 5.6-1.8 2.4-3.7 4.8-7.2 5.4-1.4 0-2.2-.7-2.8-1.5-2.4-4.8-.4-12.3-.1-18.1-2.9 2.5-5.5 6.4-8.9 9-1.5 1-3.1 2.2-5.3 2-.6-.3-1.1-.5-1.5-.8-.4-.6-.7-1.2-.8-1.9.1-3.8 2.3-7.8 4.5-9.7 1.5-1.3 4.3-2 5.6.1.5.7 1.4 2.9.4 3.2-1.5.4-1-2.3-2.4-2.4-1.6-.2-2.9 2.3-3.6 3.3-.8 1.6-1.6 2.9-1.6 5.2 1.7-.2 2.9-1.3 4-2.4 2.4-2 4.2-4 6.5-6.4.9-1.1 2.2-2.6 3.5-3.1.1 0 .1-.1.2-.1.5 0 .9 0 1.3.2 1.6 1.3.9 4.3.7 7-.4 3-.8 6.2-.8 9.6 0 1.4-.1 3.2 1 4.1 2.7-.7 4-2.5 5.7-4.1 3.1-3.6 5.7-7.4 8.7-11.1.8-.9 1.5-1.8 2.3-2.7.8-.5 1.8-2.3 2.8-1.2.2.5-.5.9-.9 1.2"/><path d="M371.66 84.5c2.1-4.3 3.8-9.4 5.4-14.3 2.1-6.6 4.3-13.3 6.9-19.3.4-.7.8-1.6 1.3-2.5.4-.7.7-2 1.7-1.6.6.2.2 1.1-.1 1.3-3.3 6.7-5.4 14.7-8 22.4-2 5.6-3.5 11.6-5.9 16.8-.8 1.7-1.7 3.5-3.6 4-.3.2-.9.2-1.2 0-1-.3-1.5-1-2.1-1.8-2.4-5.4-2.5-12.4-2.5-19.9 0-22 2.7-42.5 7-60.2.4-1.8 1.9-5.2 4-3.1.4.7-.1 1.5.2 2.2-.1.5-.5.7-.5 1.1-3.5 17.9-6.7 37.1-6.7 58.6 0 7.2-.2 14.3 1.6 20.1 1.1-.7 1.8-2.3 2.5-3.8M199.76 16.4c0 1.4 0-.2.2 4.4.3 7.1.5 13.3.7 20 4.5-13.7 10.8-25.8 20.1-34.7 1.6-1.5 3.2-2.9 5.1-4 2.2-1.8 7.2-3.3 9.5-.7 2 2.2 1.9 6.7 1 9.9-2.4 8.4-7.8 14.8-12.4 20.5-6.9 7.8-14.9 14.4-23 20.8.2 9.8.6 20.6-.1 30.3-.1 1.4-.4 3.1-.7 4.6-.3 1.3-.6 2.9-2.1 3h-.2c-1.4-.2-1.7-1.8-2-3-.9-4-1-9.2-.8-13.9.2-6.5.8-12.7 1.9-18-1.9.8-4.7 3.2-7.2 4-1.8.6-3.3-.1-3.1-2.3.3-.8.8-1.4 1.9-1.5.8 0 1.1.4 1.4.9 2.8-1.5 5.4-3.3 7.8-5.2.4-3.4.1-7-.1-10.6-.4-8.9-.5-15.1-.5-24.4 0-1.8-.1-3.4.7-4.2.4-.3.7-.3 1.1 0 .7.7.8 2.8.8 4.1m-1.4 44.9c-.1 0-.1-.1-.2 0-.8 6.8-1.3 15.3-.3 22.4.6-7.2.6-15 .5-22.4m30.9-41.5c2-3.7 5.5-8.5 5.4-14.1 0-1.4-.5-2.5-1.4-3.1-.8-.2-1.4-.3-2.3-.2-2.2.2-4.8 2-6.5 3.3-5.3 4.2-9.4 9.6-12.8 15.3-4.2 7-7.3 14.2-9.9 22.8-.5 1.8-1.1 3.5-.8 5.5 7.2-5.4 14-11.8 20-18.4 2.9-3.6 5.9-7.1 8.3-11.1"/><path d="M220.16 57.2c3.1 1.2 6.3-.5 8.8-1.6 2-.9 3.8-2 5.2-3 2.5-1.5 4.9-3.3 7.2-5.1.8-.6 1.6-1.4 2.5-1.2.5 1.2-.8 2-1.5 2.5-.8.8-1.9 1.3-2.5 2-2.3 1.7-5 3.6-7.8 5.5-2.7 1.8-5.6 3.8-9.1 4.1-3.5.4-6.1-1.4-6.5-4.7-.2-2.3.4-4 1-5.6-.4-.7-1.4-.8-1.4-1.8.6-.7 1.5 0 2.1.2 1.6-2.4 4-5.6 7.2-6.4 1.3-.3 2.7.4 3.1 1.8.1 2-1 3.6-2.3 4.6-1.5 1.3-3.4 2.4-6 2.4-1 1.5-1.6 5.1 0 6.3m4.1-10.3c.8-.6 1.7-1.4 1.6-2.4-2 .8-3.5 2.4-4.4 4 .9-.4 2-.9 2.8-1.6"/><path d="M245.06 50.6c1-1.4 2.4-3.4 5.3-2.6 1.4.3 2.8.9 4.1 1.5.8.4 1.4.9 3.2.9 4.3.2 6.5-2.7 9-5.2 2.4-.4.4 2.1-.3 2.8-2 2.1-4.6 4-8 4.4-3.7.5-3.5-.3-6.4-1.3-1-.4-2.3-1-3.2-.8-1.1.2-1.9 2.4-2.4 3.5-1.3 3-1.9 5.5-2.8 8.8-.4 1.3-1 3.4-2.4 3.4-1.8-.1-1.5-3-1.4-4.9.3-4.4.7-7.7 1.3-11.6.3-1.7.2-4.1 2.2-4.1 1.7.7.8 4 1.8 5.2m-.5.7c-.5.3-.8-.4-1-.5 0 1.3-.4 2.8-.3 4 .4-1.1 1.2-2.3 1.3-3.5M33.06 24.8c-.1.8-.8.8-1.6.7-.6.2-1 .5-1.7.3-1.7-.4-1.9-2.4-2.1-4.1-.3-1.8-.5-3.9-.6-5.6-.3-4-.5-7.9-2.9-9.5-3.1.2-5.1 2.6-6.8 4.7-5.2 6.1-8.6 14.5-10.8 23.4-2.2 8.4-4.2 20.2-2.5 30.7.3 1.6.6 3 1.2 4.5.7 1.7 1.7 3.5 4 2.8 2.4-.7 4.4-3.2 6-5.1 1.7-2.2 3.3-4.2 4.6-6.4 3-4.3 6-8.8 8.9-13.2-5 .6-10.3 1.1-15.4 1.7-1.2.2-4 1-4.5-.6.3-.8 1.5-.8 2.3-.9 5.9-.5 12.8-1.3 19-1.9.8-.6 1.4-1.9 2.7-1.9.9.1 1.4.7 1.9 1.5 3.3-.4 7.6-.5 11.4-.3 1 .1 2.6-.2 3 .8-.4 1-2 .6-3 .6-3.8 0-7.8.1-11.1.4-.8 16.3-.6 33.8.2 49.8.5-.4.7-1.3 1.6-.8.9.4.2 1.8-.1 2.4-.6 1.1-1.2 2.5-2.7 1.7-1.1-.7-1.4-3.7-1.6-5.5-1.8-14.3-1.3-32.7-.5-47-.5.3-.8.8-1.1 1.2-2.4 3.1-4.7 6.6-6.9 9.9-2.7 3.8-5.1 7.8-8.1 11.2-1.4 1.6-3.1 3.5-5.4 4.4-2.6 1-5.5.2-6.9-1.8-4-5.7-4-15.9-3-24.5.8-8.7 2.8-16.8 5.5-23.4 2.6-6.9 5.7-13.4 10.8-18.2 2.2-2 6.4-4.9 10-2.4 4.5 3.1 3.2 12.7 4.4 19.2.7.3 1.9 0 1.8 1.2"/><path d="M46.86 57c3.1 1.2 6.3-.5 8.8-1.6 2-.9 3.8-2 5.2-3 2.5-1.5 4.9-3.3 7.2-5.1.8-.6 1.6-1.4 2.5-1.2.5 1.2-.8 2-1.5 2.5-.8.8-1.9 1.3-2.5 2-2.3 1.7-5 3.6-7.8 5.5-2.7 1.8-5.6 3.8-9.1 4.1-3.5.4-6.1-1.4-6.5-4.7-.2-2.3.4-4 1-5.6-.4-.7-1.4-.8-1.4-1.8.6-.7 1.5 0 2.1.2 1.6-2.4 4-5.6 7.2-6.4 1.3-.3 2.7.4 3.1 1.8.1 2-1 3.6-2.3 4.6-1.5 1.3-3.4 2.4-6 2.4-1 1.5-1.6 5 0 6.3m4.1-10.3c.8-.6 1.7-1.4 1.6-2.4-2 .8-3.5 2.4-4.4 4 .9-.4 2-.9 2.8-1.6"/><path d="M114.36 21.9c3.5-.1 7.1.2 10.1.8.8.2 2.3.3 2.2 1.4-.6.9-1.9.2-2.7 0-7.2-1.4-16.8-.3-24.1.4-9 .8-17.9 1.9-26.3 3-.4 5-.6 10.2-.8 15.4-.1 5.2-.1 10.4-.4 15.8-.4 9.2-.3 18.3-.5 27.4 0 1.1 0 2.4-1.4 2.5-1.4 0-1.4-1.4-1.5-2.5-.2-3.8-.3-7.9-.4-11.5-.1-5.2-.3-10.6-.3-15.7 0-10.4.7-21.1 1.1-30.9-7.1.8-14.8 2.5-22.3 3.5-1.1.1-2.5.3-3.9.4-1.5.1-3.2-.1-3.2-1.1.1-1 1.3-.8 2.3-.7 9.3-1.1 17.8-3.1 27.2-4.1.2-2.6.4-5.6.7-8.5.3-2.7.2-5.7 1.8-7.3.8-.3 1.6.1 1.9.7.3 4.6-.1 9.9-.3 14.6 12.8-1.3 26.4-3.5 40.8-3.6"/><path d="M124.86 21.9c3.5-.1 7.1.2 10.1.8.8.2 2.3.3 2.2 1.4-.6.9-1.9.2-2.7 0-7.2-1.4-16.8-.3-24.1.4-9 .8-17.9 1.9-26.3 3-.4 5-.6 10.2-.8 15.4-.1 5.2-.1 10.4-.4 15.8-.4 9.2-.3 18.3-.5 27.4 0 1.1 0 2.4-1.4 2.5-1.4 0-1.4-1.4-1.5-2.5-.2-3.8-.3-7.9-.4-11.5-.1-5.2-.3-10.6-.3-15.7 0-10.4.7-21.1 1.1-30.9-7.1.8-14.8 2.5-22.3 3.5-1.1.1-2.5.3-3.9.4-1.5.1-3.2-.1-3.2-1.1.1-1 1.3-.8 2.3-.7 9.3-1.1 17.8-3.1 27.2-4.1.2-2.6.4-5.6.7-8.5.3-2.7.2-5.7 1.8-7.3.8-.3 1.6.1 1.9.7.3 4.6-.1 9.9-.3 14.6 12.7-1.3 26.4-3.5 40.8-3.6"/><path d="M95.86 61.4c1.3-1.6 2.5-3.3 3.7-5s2.3-3.5 3.4-5.2c.7-.9 1.1-1.9 1.8-2.6.6-.8.8-2.2 2.2-2 .5.8-.8 1.7-1.1 2.4-1.4 2.6-3.1 5-4.6 7.6-2.2 3.2-4 6.7-6.8 9.4-1 .8-2.2 2-4.2 1.6l-.9-.6c-3-2.5-2.1-11.8-1-16.4.5-2.3 1.3-7.1 4.1-5.2.2.4.4.9.4 1.6 0 .6-.6.5-.7.8-.8 2.4-1.3 5.3-1.7 8.5-.3 2.8-.6 6.7.8 8.8 2.1-.3 3.4-2.1 4.6-3.7m-3.5-25.8c-.3-.3-.6-.6-.6-1 0-1.6 3-1.2 2.1.7-.3.1-.8.3-1.5.3"/><path d="M107.26 55.9c0 .2.1.1 0 0 .9-2 1.7-4.1 2.6-5.9.9-1.4 1.7-4.5 3.8-4.8 1.1-.1 1.9.7 2.4 1.4.8 1.9 1.1 4.3 1.7 6.7.5 2.3.8 4.7 2.8 5.6 2.1-.2 3.6-1.4 5-2.4 1.5-1.1 2.8-2.3 4.1-3.5 1.4-1.1 2.7-2.4 4-3.7.6-.5 1.2-1.1 2-1.7.7-.5 1.6-1.6 2.4-.8.1 1-.9 1.6-1.6 2.2-2.1 1.9-4 4-6.1 5.7-1.3 1.1-2.7 2.4-4.3 3.6-1.8 1.4-4.1 3.2-6.8 2.3-4-2.3-3.2-9.1-5.4-13.3-1.9 2-2.9 4.7-4 7.6-.4.9-1 2.7-1.5 4.2-.5 1.3-.8 3.5-2.3 3.6-2.1.1-2.1-3.5-2-5.8.1-4.3.7-7.7 1.3-11.3.4-1.7.8-4 2.4-3.9 1.1.1 1.5 2.4 1.6 3.2-.2.5-.8.3-1.1.3-.3 3.5-.7 7-1 10.7z"/><path d="M155.06 62c2.9-3.2 5.7-6.5 8.8-9.5 2.4-2.2 4.8-4.5 7.3-6.5.8-.7 1.8-1.9 3-1.2.3.8-.7 1-.9 1.5-1.5 1.1-2.8 2.4-4.2 3.6-1.8 1.7-3.6 3.4-5.4 5.2-3.3 3.7-6.6 7.3-9.7 11.2-2 8.4-4.2 16.5-7.9 23.1-1.2 2.3-2.5 4.4-5.2 5.3h-1.2c-.4-.2-.8-.5-1.1-.7-.5-.6-.8-1.4-.9-2.4.2-6.2 2.8-10 5.2-14s5.4-7.5 8.3-11.1c1-4.8 2.4-10 2.7-15.5.1-1.8.3-4-.8-5.3-2.7.3-4 2-5.8 3.2-3.4 2.8-7 6.5-10.7 9.3-1.5 1.2-4 3.3-6.1 1.8-1.3-1.4-.5-3.8.2-5.2.8-1.6 1.6-3.1 2.4-4.2.8-1.2 1.9-2.4 3.2-3.7 1.1-1 2.7-2.4 4.6-2.3 1.8.2 2.4 1.7 3 3.3.7-.2 1.2-.8 1.8-1.2 2.2-1.8 4.3-3.8 8-3.8.7.2 1.2.6 1.7.8 3 4.7.4 13.2-.3 18.3-.2.1 0 .1 0 0m-19.6-10.9c-1.4 2.1-2.5 4.3-3.1 6.4 4-2.3 7.1-5.6 10.4-8.6-.6-.8-.8-2.1-2-2.4-2 .4-4.1 2.9-5.3 4.6m8.3 29.9c-1.8 3-3.8 6.5-3.5 11 1.7-.8 2.4-2.5 3.5-4 2.5-4.9 4.3-10.4 5.9-16.2 0 0 0-.1-.1-.1 0 .1-.1.1-.1.3-2.1 2.8-4 5.8-5.7 9"/>
          </svg>
        </div>
      </div> 
      <div class="entry-main  padded  outline">
        At the helm of an established platform, my primary role centred on optimising and refining the user experience. I led comprehensive A/B testing initiatives, from crafting hypotheses, implementation, presented findings to the board of directors and supervising performance post-deployment.
        <div>
          <br>
          <span class="tag tag-design-systems"></span>
          <span class="tag tag-user-flows"></span>
          <span class="tag tag-user-research"></span>
          <span class="tag tag-html-css"></span>
          <span class="tag tag-ab-testing"></span>
          <span class="tag tag-axure"></span>
          <span class="tag tag-figma"></span>
          <span class="tag tag-sketch"></span>
          <span class="tag tag-stakeholder-management"></span>
          <span class="tag tag-branding"></span>
          <span class="tag tag-data-visualization"></span>
        </div>
      </div>
    </div>

  </div>


  <div class="outline">
    <div class="core-width outline bg entry">
      <div class="entry-intro padded outline">
        <h6 class="highlight-red h6">UX/UI designer</h6>
        <div class="text-low mono">
          May 2016 - Jan 2018           
        </div>
        <div class="company-logo">
        <svg aria-label="Pretty Little Thing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164.7 18.9"><path fill="#222" d="M0 .2h4c1.5 0 2.5.3 3.4 1.3.9 1 1.2 2.1 1.2 4.3 0 1.6-.1 2.7-.8 3.7-.7 1.2-1.8 2-3.8 2H2.7v7.2H0V.2zM2.7 9H4c2.2 0 2.2-1.3 2.2-3.1 0-1.7 0-3.2-2.1-3.2H2.7V9z"></path><path fill="#231F20" d="M10.6.2h4.3c3.2 0 4.7 1.8 4.7 5.4 0 2.1-.6 3.7-2.3 4.6l2.9 8.5h-2.8l-2.5-7.9h-1.6v7.9h-2.7V.2zm2.7 8.2h1.5c1.8 0 2.1-1 2.1-2.9s-.3-2.9-2.3-2.9h-1.4v5.8z"></path><path fill="#222" d="M21.9.2h7.9v2.5h-5.3v5.4h4.6v2.5h-4.6V16h5.3v2.7h-7.9V.2zM34.5 2.7h-3.1V.2h8.8v2.5h-3.1v16h-2.7v-16zM45 2.7h-3.1V.2h8.8v2.5h-3.1v16H45v-16zM55.5 10.9L51.8.2h2.8l2.1 7.4h.1L59 .2h2.8l-3.6 10.7v7.8h-2.7v-7.8zM63.7.2h2.7V16h5.3v2.7h-7.9V.2zM73.4.2H76v18.5h-2.7V.2zM80.4 2.7h-3.1V.2h8.8v2.5H83v16h-2.7v-16zM90.6 2.7h-3.1V.2h8.8v2.5h-3.1v16h-2.7v-16zM97.7.2h2.7V16h5.3v2.7h-7.9V.2zM107.4.2h7.9v2.5H110v5.4h4.6v2.5H110V16h5.3v2.7h-7.9V.2zM120.2 2.7h-3.1V.2h8.8v2.5h-3.1v16h-2.7v-16zM127.4.2h2.7v7.9h3.3V.2h2.7v18.5h-2.7v-8.3H130v8.3h-2.7V.2zM138.6.2h2.7v18.5h-2.7V.2zM144.1.2h2.6l4 11.2h.1V.2h2.7v18.5H151l-4.1-11.1h-.1v11.1h-2.7V.2zM155.8 4.5c0-3 2.3-4.5 4.5-4.5s4.5 1.5 4.5 4.5v.9H162v-.9c0-1.3-.8-1.9-1.8-1.9s-1.8.6-1.8 1.9v9.8c0 1.3.8 1.9 1.8 1.9s1.8-.6 1.8-1.9v-3.5h-2.1V8.5h4.8v5.8c0 3-2.3 4.5-4.5 4.5s-4.5-1.5-4.5-4.5V4.5z"></path></svg>
      </div>
      </div> 
      <div class="entry-main  padded  outline">
        As a one of the key members of team I am responsible for doing entire life cycle of updates from rought idea to wireframes to funcioning axure prototypes to analysing impact changes caused. I am also responsable for building most of our A/B tests. Due chaotic nature of bussines i quite often end up wearing many different hats.
        <div>
          <br>
          <span class="tag tag-user-flows"></span>
          <span class="tag tag-user-research"></span>
          <span class="tag tag-html-css"></span>
          <span class="tag tag-ab-testing"></span>
          <span class="tag tag-axure"></span>
          <span class="tag tag-stakeholder-management"></span>
          <span class="tag tag-branding"></span>
        </div>
      </div>
      <div style="display: none;">
        <br> list of all
        <span class="tag tag-design-systems"></span>
        <span class="tag tag-user-flows"></span>
        <span class="tag tag-user-research"></span>
        <span class="tag tag-html-css"></span>
        <span class="tag tag-ab-testing"></span>
        <span class="tag tag-axure"></span>
        <span class="tag tag-figma"></span>
        <span class="tag tag-sketch"></span>
        <span class="tag tag-stakeholder-management"></span>
        <span class="tag tag-branding"></span>
        <span class="tag tag-data-visualization"></span>
      </div>
    </div>


    
  </div>



</Layout>