---
import Layout from "../../layouts/Layout.astro";

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes, Asset } from "contentful";
import Header from '../components/Header.astro';
---

<Layout title="WIP">
  <p>WIP</p>
</Layout>