
html {
    font-family: "Rajdhani",'Exo 2', sans-serif;
    background-color: black;
    //color: rgb(255 200 255 / 0.8);
    color: rgba(255, 214, 0, 1.00);
    
    text-shadow: 0 0 5px rebeccapurple;

}

body {
    min-height: 100vh;
    background: linear-gradient(183deg, rgba(141,35,46,0.5) 1%, rgba(141,35,46,0) 60%), 
                linear-gradient(250deg, rgba(141,35,46,0) 21%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
                linear-gradient(250deg, rgba(141,35,46,0) 23%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
                linear-gradient(250deg, rgba(141,35,46,0) 25%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
                repeating-linear-gradient(179deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 5px);;
   
    background-color: #0b232f;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  

.background{
 background-image:linear-gradient(90deg, rgba(252,25,154,.1) 1px, rgba(0,0,0,0) 1px);
  background-position:bottom;
  background-repeat:repeat;
  background-size:40px 10px;
  left: -25px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}


code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono;

}


.text-blue{
    color: #61e2ff;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}
.text-pink{
    text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
}

.crt{
    filter: drop-shadow(0px 0px 0.125rem pink);
    -webkit-mask-image: repeating-linear-gradient(black, black 2px, transparent 3px);
  animation: retro-future-tv-lines linear infinite;
    animation-duration: 4s; 
}


.time-stamp{
    font-family: 'Liberation Mono', monospace; 

    --aug-tr1:6px;
    --aug-tl1:18px;
    --aug-bl1:6px;
    --aug-br1:4px;
    --aug-inlay-bg:rgba(220, 220, 220, 0.2);
    --aug-border-bg:rgba(20, 20, 20, 0.3);
    text-shadow: 0 0 2px #393a33, ;

}


.tags{
    --aug-border-bg:green;
}

.container{
    transform: perspective(100px) rotateX(0.5deg);

    --aug-border-opacity:1;

    --aug-tl1: 12px;
    --aug-tl2: 18px;


    --aug-tl1: 12px;
    --aug-tl2: 18px;
    --aug-tl-extend2:(100% - 150px);

    --aug-tr:8px;

    --aug-l: 4px;
    --aug-l-center:(100% - 50px);
 
    --aug-r: 4px;
    --aug-r-center:36px;

    --aug-br1: 8px;

    --aug-br1: 12px;
    --aug-br2: 18px;
    --aug-br-extend2:(120px);
}



.card{
    background: repeating-linear-gradient(
        to top,
        rgba(255, 255, 255, 0.03) 0px 2px,
        transparent 2px 4px
      ),
      linear-gradient(to bottom, #200933 75%, #3d0b43);
      --glow-margin: 70px;
    filter: drop-shadow(0 0 75px rgb(128 0 255 / 0.25));
    --aug-border-bg: red;
}

.glow-container {
  inset: 4px;
  z-index: 2;
  --glow: drop-shadow(0 0 1px violet);
  filter: var(--glow) brightness(1.4) drop-shadow(0 0 10px violet);
}
  

  
@keyframes retro-future-tv-lines {
    0% {
      -webkit-mask-position: center 0rem;
      mask-position: center 0rem;
    }
    100% {
      -webkit-mask-position: center -1.5rem;
      mask-position: center -1.5rem;
    }
}