---
//import Navigation from './Header.astro';
---
<header>
  <div class="core-width header-contents lined box-r box-l">
    <div class="logo">logo</div>

    <nav class="desktop nav-links ">
      <a class="box-l nav-items" href="url">Projects</a>
      <a class="box-l nav-items" href="url">About</a>
      <a class="box-l nav-items cta" href="url">Get in touch</a>
    </nav>
    <nav class="mobile nav-links">
      <a class=" box-l" href="url">Menu</a>
    </nav>
  </div>


</header>