---
//import Navigation from './Header.astro';
---
<header class="outline lined">



  <div class="core-width header-contents bento-container">

    <div class="logo bg outline">
      <svg class="logo-svg" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136 136">
        <g>
          <path class="logo-bg" d="M68 68 41 41v54l54-54v88l-14-14"/>
      
          <path class="logo-d" d="M41 95v-54L68 68l-27 27Z"
      />
          <path class="logo-m" d="M41 95V41l27 27 27-27v88l-14-14"/></g>
          
        </svg>
    </div>
    <div class="outline bg desktop"></div>
    <div class="outline desktop navigation">
      <nav class="desktop nav-links mono outline">
        <a class="nav-item" href="/">home</a>
        <a class="nav-item" href="/about">about me</a>
        <a class="mono nav-cta" href="url" style="display: none;">
          <div class="cta">get in touch</div>
        </a>
        </nav>
    </div>




    <nav class="mobile nav-links outline">
      <div class="mobile-menu">
        <div class="flex-vertical">
          <div class="two-grid" style="">          
            <a class="outline nav-item" href="/">home</a>
            <a class="outline nav-item" href="/about">about me</a>
          </div>
          <a class="outline mono nav-cta" href="url" style="display: none;">
            <div class="cta">get in touch</div>
          </a>
        </div>




      </div>
  
      <a class=" outline mono nav-cta" href="javascript:void(0);" id="mobile-menu-button">
        <div class="cta">menu</div>
        <div class="nav-item hidden close">x</div>
      </a>
    </nav>
    <div class="mobile-menu lined">
    </div>

   

  </div>
  <div class="outline">
    <div class="core-width outline h-2rem"></div>
  </div>

</header>


