---
//import Navigation from './Header.astro';
---
<header class="outline lined">
  <div class="core-width header-contents outline">
    <div class="logo bg outline">
      hi
    </div>

    <nav class="desktop nav-links ">
      <a class="outline nav-item mono" href="/">projects</a>
      <a class="outline nav-item mono" href="/about">about me</a>
      <a class="outline mono nav-cta" href="url">
        <div class="cta">get in touch</div>
      </a>
    </nav>
    <nav class="mobile nav-links">
      <a class=" outline mono" href="url">
        <div class="cta">menu</div>
      </a>
    </nav>
  </div>


</header>