---
//import Navigation from './Header.astro';
---
<header class="outline lined">
  <div class="core-width header-contents outline">
    <div class="logo bg outline">
      hi
    </div>

    <nav class="desktop nav-links mono">
      <a class="outline nav-item" href="/">home</a>
      <a class="outline nav-item" href="/">projects</a>
      <a class="outline nav-item" href="/about">about me</a>
      <a class="outline mono nav-cta" href="url">
        <div class="cta">get in touch</div>
      </a>
    </nav>



    <nav class="mobile nav-links">
      <a class=" outline mono nav-cta" href="javascript:void(0);" id="mobile-menu-button">
        <div class="cta">menu</div>
      </a>
    </nav>

    <div class="mobile-menu" style="display: none;">
      <a class="outline nav-item" href="/">home</a>
      <a class="outline nav-item" href="/">projects</a>
      <a class="outline nav-item" href="/about">about me</a>
      <a class="outline mono nav-cta" href="url">
        <div class="cta">get in touch</div>
      </a>
    </div>

  </div>


</header>


