---
//import Navigation from './Header.astro';
---
<header class="outline lined">



  <div class="core-width header-contents bento-container">

    <a class="logo bg outline" href="/">
        
<svg xmlns="http://www.w3.org/2000/svg"class="logo-svg"  width="36" height="61" viewBox="0 0 42 61" fill="none" preserveAspectRatio="xMidyMid meet">
<path class="logo-bg" d="M21.2349 30.46 3.46973 3.45996V57.46L38.9884 3.45996V57.46l-9.2068-14"/>
<path class="logo-d" d="M3.46973 57.46V3.45996L21.2349 30.46l-17.76517 27Z"/>
<path class="logo-m" d="M3.46973 57.46V3.45996L21.2349 30.46 39 3.45996V57.46l-9.2068-14"/>
</svg>
      </a>
    <div class="outline bg desktop"></div>
    <div class="outline desktop navigation">
      <nav class="desktop nav-links mono outline">
        <a class="nav-item" href="/">home</a>
        <a class="nav-item" href="/about">about me</a>
        <a class="mono nav-cta" href="url" style="display: none;">
          <div class="cta">get in touch</div>
        </a>
        </nav>
    </div>




    <nav class="mobile nav-links outline">
      <div class="mobile-menu">
        <div class="flex-vertical">
          <div class="two-grid" style="">          
            <a class="outline nav-item" href="/">home</a>
            <a class="outline nav-item" href="/about">about me</a>
          </div>
          <a class="outline mono nav-cta" href="url" style="display: none;">
            <div class="cta">get in touch</div>
          </a>
        </div>




      </div>
  
      <a class="outline mono nav-cta" href="javascript:void(0);" id="mobile-menu-button">
        <div class="cta">menu</div>
        <div class="nav-item hidden close">x</div>
      </a>
    </nav>
    <div class="mobile-menu lined">
    </div>

   

  </div>
  <div class="outline">
    <div class="core-width outline h-2rem"></div>
  </div>

</header>


