/* blog post specific styles */
article h1, article h2, article h3, article h4{
    margin-bottom: 1rem;
    font-family: "GeistMono", monospace;
}

article h1{
    font-size: 2rem;
    font-weight: 900;
}

article p {
    margin-bottom: 1rem;
    color:var(--text-high);
}
article code {
    margin-bottom: 1rem;
    font-family: "Martian", monospace;
    white-space: pre;
}

.text-high{
    color:var(--text-high);
}

.text-mid{
    color:var(--text-mid);
}

.text-low{
    color:var(--text-low);
}

.text-outline {
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--text-high), 1px -1px 0 var(--text-high), -1px 1px 0 var(--text-high), 1px 1px 0 var(--text-high);
  }

.highlight-red {
    color: var(--red-700);
}

.highlight-shadow {
    text-shadow: 2px 2px 0px var(--red-700);

}

.hero > h1 {
    margin-bottom: -0.5rem;
    font-size: 5rem;
}

.h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-left: -0.2rem;

}

.h2 {
    font-size: 2rem;
    font-weight: 600;

}

.h3 {
    font-size: 1.8rem;
    font-weight: 600;

}

.h4 {
    font-size: 1.5rem;
    font-weight: 600;

}

.h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

.h6 {
    font-size: 1rem;
    font-weight: 700;
}

b {
    font-weight: 900;
}

ul, ol {
    padding-left: 1.2rem;
  }
  
  /* Unordered list styling */
  ul {
    list-style: none;
  }
  
  ul li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.5rem;  
  }
  
  ul li::before {
    font-family: "Martian", monospace;
    content: "*";
    position: absolute;
    left: -1.2rem;
    color:var(--red-700);
  }
  
  /* Nested unordered lists */
  ul ul {
    margin: 0.5rem 0 0.5rem 0.5rem;
  }
  
  ul ul li::before {  
    font-family: "Martian", monospace;
    content: ">";
    color:var(--red-700);
  }
  
  /* Ordered list styling */
  ol {
    list-style: none;
    counter-reset: item;
  }
  
  ol li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    counter-increment: item;
  }
  
  ol li::before {
    font-family: "Martian", monospace;
    content: counter(item) ".";
    position: absolute;
    left: -1.2rem;
    color:var(--red-700);
  }
  
  /* Nested ordered lists */
  ol ol {
    margin: 0;
    counter-reset: subitem;
  }
  
  ol ol li {
    counter-increment: subitem;
    
  }
  
  ol ol li::before {
    content: counter(item) "." counter(subitem);
    color:var(--red-700);
    left: -2rem;
  }
  
  /* List items spacing and formatting */
  li p {
    margin: 0.5rem 0;
  }
  
  /* Styles for lists inside div elements */
  div ul, div ol {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }


@media screen and (min-width: 820px) {
    html {
        font-size: 120%;
    }
    .hero > h1 {
        font-size: 10rem;
    }

    .h1 {
        font-size: 7rem;
    }
    .h2 {
        font-size: 3rem;
    }
    .h3 {
        font-size: 2.5rem;
    }
    .h4 {
        font-size: 2rem;
    }
    .h5 {
        font-size: 1.2rem;
    }
    .h6 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 140%;
    }
}